@if $show_topic_author_column_last == 'true' {
  .topic-list .topic-list-data {
    .right {
      margin-left: 0;
    }

    .pull-left {
      display: none;
    }

    &.custom-author-column {
      vertical-align: top;
      padding-left: 1em;
    }
  }
}

@if $show_topic_author_column_first == 'true' {
  .topic-list {
    .topic-list-item {
      .pull-left {
        display: none;
      }
    }
    .topic-list-item-metadata {
      margin-left: 0;
    }

    .custom-author-column {
      vertical-align: top;
      padding-top: 0.65em;
    }

    .topic-item-metadata {
      position: relative;
    }

    .main-link {
      margin-right: 2em;
    }

    .pull-right {
      float: none;
      position: absolute;
      top: 0.45em;
      right: 0;
    }

    .posts-map {
      color: var(--primary-medium);
    }

    .right {
      margin-left: 0.5em;
      padding: 0.5em 0;
    }
  }
}
