.topic-list .posters {
  width: 70px;
}

#suggested-topics .topic-list {
  .topic-list-header {
    display: none;
  }
  .author.topic-list-data {
    width: 70px;
  }
}

.topic-list-item .author a {
  color: var(--primary-medium);
}

@if $show_topic_author_column_last == "true" {
.topic-list .topic-list-data:last-of-type  {
    text-align: right;
//    padding-right: 8px;
    padding-left: 40px;
  }
}

//@if $show_topic_author_column_first == "true" {
//.topic-list .topic-list-data:first-of-type  {
//   text-align: left;
//    padding-left: 8px;
//    padding-right: 20px;
//  }
//}
