.topic-list {
  th:not(.posts):not(.views):not(.activity):not(.author):not(.default):not(
      .bulk-select
    ) {
    // looks a little silly, but the column I want to hide doesn't have a class
    display: none;
  }

  .posters {
    display: none;
  }

  // bulk select adjustments

  button.bulk-select {
    text-align: center;
    margin-right: 0;
  }

  .topic-list-data.bulk-select {
    text-align: center;
  }

  .posts {
    width: auto;
  }
}

.top-topic-list,
.latest-topic-list {
  .topic-poster:not(.custom-latest-poster) {
    display: none;
  }
}
